header {
    position: relative;
    height: 125px;
  }
  .header {
    display: flex;
    justify-content: space-around;
  }
  .header_img {
    width: 96px;
    height: 100px;
    margin-top: 11px;
  }
  .header_menu {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 14px;
    margin-top: 50px;
  }
  .header_menu_item {
    list-style-type: none;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    line-height: 16.71px;
    cursor: pointer;
  }
  .header_menu_item:hover {
    color: #ec644b;
    transition: 0.5s all;
  }
  .header_consultation {
    margin-top: 40px;
    margin-left: 40px;
  }
  .header_consultation_descr {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    margin-left: 65px;
  }
  .header_consultation_phone {
    margin-top: 5px;
    color: #fff;
    font-size: 19px;
    font-weight: 400;
    text-decoration: none;
  }
  .header_consultation_btn {
    width: 160px;
    height: 45px;
    background-color: #ec644b;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 22.04px;
    text-transform: uppercase;
    border-radius: 45px;
    border: none;
    margin-top: 32px;
    margin-left: 20px;
    cursor: pointer;
    outline: 0;
  }
  .header_consultation_btn:hover {
    background-color: #25333c;
    transition: 0.5s all;
  }
  .promo {
    min-height: 680px;
    background: url(../img/china/air.jpg);
  }
  .promo_global {
    text-align: center;
  }
  .promo_global_header {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
  }
  .promo_global_subheader {
    color: #ec644b;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-top: 26px;
  }
  .promo_global_descr {
    color: #fff;
    font-size: 42px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    margin-top: 9px;
  }
  .promo_line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 38px;
  }
  .promo_line_left {
    width: 484px;
    margin-left: 180px;
  }
  .promo_line_right {
    width: 463px;
    margin-right: 180px;
  }
  .promo_dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }
  .promo_delivery_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 27px;
  }
  .promo_delivery_content_block {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 110px;
  }
  .promo_delivery_content_img {
    width: 62px;
    height: 56px;
    display: block;
    margin: 0 auto;
  }
  .promo_delivery_content_descr {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    margin-top: 16px;
  }
  .promo_delivery_btn {
    width: 230px;
    height: 57px;
    background-color: #ec644b;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.04px;
    text-transform: uppercase;
    border-radius: 45px;
    border: none;
    margin-left: 455px;
    margin-top: 59px;
    cursor: pointer;
    outline: 0;
  }
  .promo_delivery_btn:hover {
    background-color: #25333c;
    transition: 0.5s all;
  }
  .advantage {
    min-height: 590px;
    background-color: #f3f3f3;
  }
  .advantage_block {
    margin-bottom: 35px;
    width: 480px;
    display: flex;
  }
  .advantage_img {
    width: 60px;
    height: 60px;
    margin-top: 15px;
  }
  .advantage_text {
    margin-left: 19px;
    margin-top: 13px;
  }
  .advantage_head {
    color: #ec644b;
    font-size: 16px;
    font-weight: 600;
  }
  .advantage_descr {
    margin-top: 5px;
    color: #3a3a3a;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
  }
  .advantage_content {
    display: flex;
    justify-content: space-between;
  }
  .advantage_content_left {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .advantage_content_right {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .work {
    height: 620px;
  }
  .work .title {
    padding: 51px 100px 12px 87px;
  }
  .work_line {
    width: 150px;
    height: 1px;
    background-color: #ec644b;
    border: none;
  }
  .work_descr {
    color: #2e2e2e;
    font-size: 21px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-top: 17px;
  }
  .work_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .work_block_item {
    width: 360px;
    margin-top: 37px;
  }
  .work_block_item_img {
    width: 360px;
    height: 210px;
  }
  .work_block_item_title {
    color: #ec644b;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
  }
  .work_block_item_descr {
    color: #3a3a3a;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 9px;
    text-align: center;
  }
  .china {
    height: 342px;
    background: url(../img/china/Layer_5_copy.png);
  }
  .china_img {
    display: block;
    margin: 0 auto;
    padding-top: 58px;
  }
  .china_agent {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    margin-top: 20px;
  }
  .china_descr {
    color: #fff;
    font-size: 19px;
    font-weight: 300;
    line-height: 27px;
    text-align: center;
    margin-top: 22px;
  }
  .price {
    height: 555px;
  }
  .price .title {
    padding-bottom: 10px;
  }
  .price_line {
    width: 150px;
    height: 1px;
    background-color: #ec644b;
    border: none;
  }
  .price_descr {
    color: #2e2e2e;
    font-size: 21px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-top: 17px;
  }
  .price_delivery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
  }
  .price_delivery_item {
    width: 265px;
    height: 355px;
    border: 1px solid #e9e9e9;
    background-color: #fff;
  }
  .price_delivery_item_head {
    height: 61px;
    background-color: #25333c;
  }
  .price_delivery_item_head_text {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 18px;
  }
  .price_delivery_item_icon {
    width: 61px;
    height: 57px;
    margin: 9px 105px 5px 99px;
  }
  .price_delivery_item_time {
    color: #2e2e2e;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  }
  .price_delivery_item_price {
    color: #ec644b;
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    margin-top: 2px;
  }
  .price_delivery_item_descr {
    color: #2e2e2e;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    padding-top: 10px;
  }
  .price_delivery_item_btn {
    width: 150px;
    height: 40px;
    background-color: #ec644b;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 22.04px;
    text-transform: uppercase;
    border-radius: 35px;
    border: none;
    margin: 25px 52px 25px 52px;
    cursor: pointer;
    outline: 0;
  }
  .price_delivery_item_btn:hover {
    background-color: #25333c;
    transition: 0.5s all;
  }
  .advice {
    min-height: 430px;
  }
  .advice .title {
    padding-bottom: 5px;
  }
  .advice_form {
    position: relative;
    margin-top: 70px;
    border-left: 1px solid #898989;
    border-right: 1px solid #898989;
    width: 1140px;
    height: 166px;
  }
  .advice_icon {
    position: absolute;
    display: block;
    margin: 18px 522px;
  }
  .advice_lline {
    width: 500px;
    height: 1px;
    margin-top: 0;
    float: left;
  }
  .advice_rline {
    width: 500px;
    height: 1px;
    margin-top: 0;
    float: right;
  }
  .advice_blline {
    width: 465px;
    height: 1px;
    margin-bottom: 0;
    float: left;
    margin-top: 154px;
  }
  .advice_brline {
    width: 465px;
    height: 1px;
    margin-bottom: 0;
    float: right;
    margin-top: 154px;
  }
  .advice_input {
    position: absolute;
    padding-top: 57px;
    padding-left: 140px;
  }
  .advice_input_item {
    width: 270px;
    height: 45px;
    margin-right: 5px;
    border-radius: 40px;
    border: 1px solid #898989;
    outline: 0;
  }
  .advice_input ::-webkit-input-placeholder {
    padding-left: 15px;
    font-size: 15px;
    font-style: normal;
  }
  .advice_btn {
    width: 180px;
    height: 45px;
    margin-top: 132px;
    margin-left: 13px;
    background-color: #ec644b;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 22.04px;
    text-transform: uppercase;
    border-radius: 65px;
    border: none;
    cursor: pointer;
    outline: 0;
  }
  .advice [type~="email"],
  .advice [type~="number"],
  .advice input[type~="text"] {
    font-size: 16px;
  }
  .advice_btn:hover {
    background-color: #25333c;
    transition: 0.5s all;
  }
  .manager {
    height: 342px;
    background: url(../img/manager/Layer_14_copy.png);
    margin-top: -45px;
  }
  .manager_img {
    display: block;
    margin: 0 auto;
    padding-top: 58px;
  }
  .manager_agent {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    margin-top: 20px;
  }
  .manager_descr {
    color: #fff;
    font-size: 19px;
    font-weight: 300;
    line-height: 27px;
    text-align: center;
    margin-top: 22px;
  }
  .schema {
    height: 454px;
    background-color: #f3f3f3;
  }
  .schema .title {
    padding-bottom: 1px;
  }
  .schema_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 33px;
  }
  .schema_item {
    width: 250px;
    height: 115px;
    padding-bottom: 44px;
    padding-left: 35px;
  }
  .schema_item_icon {
    width: 50px;
    height: 49px;
    display: block;
    margin: 0 auto;
  }
  .schema_item_head {
    color: #ec644b;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-top: 6px;
  }
  .schema_item_descr {
    color: #3a3a3a;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
  }
  .review {
    min-height: 430px;
    margin-bottom: 30px;
  }
  .review .title {
    padding-bottom: 1px;
  }
  .review_line {
    width: 150px;
    height: 1px;
    background-color: #ec644b;
    border: none;
    margin-top: 25px;
  }
  .review_descr {
    color: #2e2e2e;
    font-size: 21px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-top: 11px;
  }
  .review_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 31px;
    margin-right: 50px;
    margin-left: 50px;
  }
  .review_item {
    width: 600px;
    height: 240px;
    margin: 0 auto;
  }
  .review_img {
    width: 114px;
    height: 114px;
    display: block;
    margin: 0 auto;
  }
  .review_name {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-top: 13px;
  }
  .review_text {
    color: #3a3a3a;
    font-size: 16px;
    font-weight: 300;
    line-height: 22.01px;
    text-align: center;
    margin-top: 8px;
  }
  .review_arrow_right {
    width: 35px;
    height: 35px;
    position: absolute;
    margin: 36px 100px 20px 300px;
    border-top: 2px solid #ec644b;
    border-right: 2px solid #ec644b;
    margin-right: 60px;
    transform: rotate(45deg);
    cursor: pointer;
  }
  .review_arrow_left {
    width: 35px;
    height: 35px;
    position: absolute;
    margin: 36px 300px 20px -175px;
    border-top: 2px solid #ec644b;
    border-right: 2px solid #ec644b;
    margin-right: 60px;
    transform: rotate(-135deg);
    cursor: pointer;
  }
  .question {
    min-height: 438px;
    background: url(../img/questions/2-layers.png);
    margin-top: 15px;
  }
  .question_block {
    position: absolute;
    width: 896px;
    height: 297px;
    background-color: #fff;
    margin: 62px 120px;
  }
  .question_block_head {
    height: 68px;
    background-color: #141f25;
  }
  .question_block_title {
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    line-height: 51px;
    text-transform: uppercase;
    text-align: center;
  }
  .question_block_descr {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: -12px;
  }
  .question_block_form {
    position: relative;
  }
  .question_block_form_contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 18px;
  }
  .question_block_form_item {
    width: 268px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.21);
    background-color: #fff;
    border-radius: 45px;
    margin-left: 6px;
    outline: 0;
  }
  .question_block_form ::-webkit-input-placeholder {
    padding-left: 15px;
    font-size: 15px;
    font-style: normal;
  }
  .question_block_form_bigitem {
    width: 823px;
    height: 71px;
    border: 1px solid rgba(0, 0, 0, 0.21);
    background-color: #fff;
    display: block;
    margin: 8px auto;
    border-radius: 10px;
    outline: 0;
  }
  .question_block_form ::-webkit-input-placeholder {
    padding-left: 15px;
    padding-top: 18px;
    font-size: 15px;
    font-style: normal;
  }
  .question_btn {
    width: 180px;
    height: 45px;
    background-color: #ec644b;
    margin: 8px 360px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 22.04px;
    text-transform: uppercase;
    border-radius: 65px;
    border: none;
    cursor: pointer;
    outline: 0;
  }
  .question_btn:hover {
    background-color: #25333c;
    transition: 0.5s all;
  }
  .footer {
    height: 201px;
    background-color: #1b2931;
  }
  .footer_container {
    width: 1140px;
    margin: 0 auto;
  }
  .footer_line {
    width: 1141px;
    height: 1px;
    background-color: #fff;
    margin-top: 26px;
    opacity: 0.3;
  }
  .footer_headblock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer_global {
    width: 520px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer_global_icon {
    width: 68px;
    height: 71px;
    margin-top: 24px;
  }
  .footer_global_text {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 23px;
    margin-left: 44px;
  }
  .footer_consultation {
    margin-top: 45px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    margin-left: 65px;
  }
  .footer_consultation_phone {
    margin-top: 5px;
    color: #fff;
    font-size: 19px;
    font-weight: 400;
    text-decoration: none;
  }
  .footer_consultation_btn {
    width: 160px;
    height: 45px;
    background-color: #ec644b;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 22.04px;
    text-transform: uppercase;
    border-radius: 45px;
    border: none;
    margin-top: 39px;
    margin-left: -214px;
    cursor: pointer;
    outline: 0;
  }
  .footer_consultation_btn:hover {
    background-color: #25333c;
    transition: 0.5s all;
  }
  .footer_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }
  .footer_bottom_link {
    opacity: 0.6;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    line-height: 17px;
  }
  .footer_bottom_conf {
    color: #ec644b;
    font-size: 13px;
    font-weight: 300;
    line-height: 17px;
    text-decoration: underline;
  }
  .footer_bottom_create {
    display: flex;
    flex-direction: row;
  }
  .footer_bottom_text {
    opacity: 0.6;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    line-height: 17px;
  }
  .footer_bottom_icon {
    width: 30px;
    height: 32px;
    opacity: 0.78;
    margin-top: -10px;
    margin-left: 8px;
  }
  * {
    font-family: Robot, sans-serif;
  }
  body {
    margin: 0;
  }
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
  .title {
    color: #2e2e2e;
    font-size: 26px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
    text-align: center;
    padding: 54px 100px 32px 87px;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal__dialog {
    max-width: 500px;
    margin: 40px auto;
  }
  .modal__content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;
  }
  .modal__close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: 0.5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .modal__title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
  }
  .modal__input {
    display: block;
    margin: 20px auto 20px auto;
    width: 280px;
    height: 50px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
    outline: 0;
  }
  .btn {
    width: 180px;
    height: 45px;
    background-color: #ec644b;
    margin: 5px 160px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 22.04px;
    text-transform: uppercase;
    border-radius: 65px;
    border: none;
    cursor: pointer;
    outline: 0;
  }
  .mdc-tab-bar {
    min-height: 500px;
  }
  